/***** General *****/

body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

h1{
	margin-top: 75px;
	font-weight: bold;
}

h4{
	padding-bottom: 75px;
}

/***** CV pics *****/

.cv-image {
	background: url('http://placehold.it/350x150');
}